body{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
header{
    height: 80px;
    background: rgba(0,0,0,0.5);
    position:fixed;
    width: 100%;
    box-sizing: border-box;
}
header img{
    width: 150px;
    float: left;
    margin: 20px 20px 0 20px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
    float: left;
    display: flex;
    list-style: none;
}
li{
    margin: 0;
    color: white;
    display: inline-block;
    padding: 0 10px;
    line-height: 80px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 0.9em;
}
li:hover{
    background: rgba(255,255,255,0.2);
}
.header-right{
    float: right;
    color: white;
    background: linear-gradient(45deg, #fc0075, #038af1);
    margin: 15px;
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
}
.header-right:hover{
    transform: scale(0.9);
}
.button{
    padding: 0;
    text-decoration: none;
}
.a-wrapper{
    background-image: url("https://www.manacal.co.jp/typing-license/images/haikei.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    color: white;
    height: 700px;
    padding-top: 250px;
    text-align: center;
}
.a-wrapper h2{
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
}
h1{
    font-size: 28px;
    margin-top: 10px;
    letter-spacing: 5px;
}
.under-line1{
    background: linear-gradient(transparent 70%, #ff1493 70%);
}
.merits{
    display: flex;
    margin: 40px auto 50px auto;
    width: 90%;
}
.merit1{
    width: 33%;
    margin-left: 6%;
    padding-left: 3%;
}
.merit2{
    width: 33%;
    padding-left: 3%;
}
.merit3{
    width: 33%;
}
.b-wrapper{
    background-image: url("https://www.manacal.co.jp/typing-license/images/haikei2.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
}
.purpose{
    margin: 40px 0 20px 10%;
    background: #038af1;
    color: white;
    padding: 25px 30px;
    font-size: 0.8em;
    display: inline-block;
    /* position: relative; */
}
.triangle{
    position: absolute;
    top: 86%;
    left: 25%;
    display: block;
    border-top: 10px solid #038af1;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}
.b-content{
    margin-left: 10%;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
    padding: 10px 0 10px 0;
    line-height: 250%;
    letter-spacing: 3px;
}
.under-line2{
    font-size: 20px;
    border-bottom: solid 3px #038af1;
}
.c-wrapper{
    margin: 0 auto;
    padding: 0px 0 30px 0;
}
.c-box1{
    display: block;
    padding-top: 100px;
    margin-top: 100px;
}
.gradation{
    background: -webkit-linear-gradient(270deg, #fc0075 0%,#038af1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.4em;
}
.c-content{
    text-align: center;
    letter-spacing: 3px;
}
.flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 90%;
    margin: 30px auto;
}
.flex-box{
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    margin: 0 10px;
}
.reason{
    color: #fc0075;
    font-weight: bold;
}
.d-wrapper{
    background-image: url("https://www.manacal.co.jp/typing-license/images/haikei3.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.d-box{
    width: 90px;
    height: 80px;
}
.d-content1{
    text-align: center;
    letter-spacing: 3px;
}
.d-content2{
    text-align: center;
    letter-spacing: 3px;
    font-size: 0.9em;
    line-height: 30px;
}
.check{
    width: 610px;
    line-height: 200%;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px 30px;
    margin: 30px auto 0 auto;
    font-weight: bold;
    border: 2px solid #038af1;
}
.d-content3{
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    letter-spacing: 3px;
}
.e-wrapper{
    background-image: url("https://www.manacal.co.jp/typing-license/images/naiyou.jpg");
    background-size: cover;
    background-position: bottom;
    padding-bottom: 70px;
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 0.8em;
}
.e-content1{
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 3px;
    margin-top: 30px;
}
.e-content2{
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 2px;
    line-height: 20px;
}
table{
    margin: 15px auto;
    width: 50%;
    border-spacing: 4px;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th{
    border: 1px solid #038af1;
    padding: 5px 0;
    background: rgba(212, 229, 2400.7);
    border-radius: 5px;
}
td{
    border: 1px solid #038af1;
    padding: 5px 0;
    border-radius: 5px;
}
.sample{
    background: rgba(240, 205, 241, 0.5);
}
.e-content3{
    /* text-align: center; */
    letter-spacing: 2px;
}
.e-content4{
    font-size: 0.9em;
}
.entry-button{
    color: white;
    font-size: 1.2em;
    line-height: 20px;
    background: linear-gradient(45deg, #fc0075, #038af1);
    padding: 20px 50px;
    cursor: pointer;
    width: 400px;
    height: 60px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    box-sizing: border-box;
    transition: 0.8s;
}
.entry-button:hover{
    transform: scale(0.9);
}
.f-wrapper{
    background: #038af1;
    color: white;
    text-align: center;
    padding-bottom: 70px;
}
.f-box{
    height: 80px;
    width: 90px;
}
.f-content1{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.f-content3{
    font-size: 0.9em;
    margin-top: 20px;
}
.g-wrapper{
    margin: 0 auto;
    padding: 0px 0 30px 0;
}
.g-content1{
    text-align: center;
    letter-spacing: 3px;
    line-height: 200%;
}
.g-wrapper .flex{
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    margin: 20px auto 40px auto;
}
.g-wrapper img{
    width: 50%;
}
.pink-box{
    width: 50%;
    padding: 7%;
    margin: 0;
    background: #fc0075;
    color: white;
    font-size: 0.8em;
    line-height: 200%;
}
.g-content2{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
    line-height: 150%;
}
.video{
    text-align: center;
    margin: 30px 0;
}
.buy{
    color: white;
    line-height: 20px;
    background: linear-gradient(45deg, #f2613a, #f4a713);
    padding: 20px 50px;
    cursor: pointer;
    width: 400px;
    height: 60px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    transition: 0.8s;
}
.buy:hover{
    transform: scale(0.9);
}
.buy-button{
    text-align: center;
}
.h-wrapper{
    background-image: url("https://www.manacal.co.jp/typing-license/images/mensetu.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 0 70px 0;
}
.h-wrapper h3{
    text-align: center;
    letter-spacing: 3px;
    line-height: 150%;
    margin-bottom: 20px;
}
.under-line3{
    background: linear-gradient(transparent 80%, #fc0075 0%);
}
.shikaku-merit{
    margin-top: 15px;
    font-size: 0.8em;
}
footer{
    text-align: center;
    color: #000;
    padding: 40px 0 0 0;
}
footer p{
    color: #000;
    font-size: 0.6em;
}
footer img{
    width: 200px;
}
.black-box{
    background: #000;
    color: white;
    font-size: 0.6em;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
}